# Next.js build outputs
.next
out
.turbo

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Optional: package manager caches
.pnpm-store
.npm

# Optional: TypeScript
*.tsbuildinfo
next-env.d.ts

# Clerk
.clerk
